<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.sunshine.app">

    <!-- about Manifest Permission see at - https://developer.android.com/guide/components/intents-common.html#Maps -->
    <!-- about System permissions see at - http://developer.android.com/guide/topics/security/permissions.html -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DetailActivity"
            android:label="@string/title_activity_detail"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.sunshine.app.MainActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.sunshine.app.MainActivity" />
        </activity>
<!--
        про то как Intent может быть запущен by Google Now через голосовые команды можно почитать здесь - https://developer.android.com/guide/components/intents-common.html
        ...
        Google Now
        Google Now fires some of the intents listed on this page in response to voice commands. For more information, see Intents Fired by Google Now.
        ...
-->
        <provider
            android:authorities="com.example.android.sunshine.app"
            android:name=".data.WeatherProvider" />
    </application>

</manifest>
